<footer class="mt-4">
  <div class="container">
    <div class="row">
      <div class=" col-lg-6 col-12 logo">
        <div>
          <img src="../../assets/images/logo.svg" alt="">
        </div>
        <div class="survay">
          <p>جمعية خيرية متخصصة  تُسهم في حماية المجتمع، وتوعيته بأضرار التدخين والمخدرات، ومساعدة  الراغبين في العلاج، عبر خدمات وبرامج نوعية تلامس احتياجاته وتطلعاته.</p>
          <div class="edit-input">
            <button type="button" > <p>اشترك الان</p> </button>
            <input type="text" placeholder="johndoe@shuffle.dev">
          </div>
          <div class="social">
            <a href="#"><i class="bi bi-facebook"></i></a>
            <a href="#"><i class="bi bi-instagram"></i></a>
            <a href="#"><i class="bi bi-youtube"></i></a>
            <a href="#"><i class="bi bi-snapchat"></i></a>
          </div>
        </div>
      </div>

      <div class=" col-lg-3 col-6">
        <ul class="fast">
          <h6>الروابط السريعة</h6>
          <li><a href="#"><img src="../../assets/images/Group.svg" alt=""><span>الرئيسيه</span></a></li>
          <li><a href="#"><img src="../../assets/images/question_15220078.svg" alt=""><span>عن الجمعيه</span></a></li>
          <li><a href="#"><img src="../../assets/images/speaker_11735669 1.svg" alt=""><span>المركز الإعلامى</span></a></li>
        </ul>
      </div>
      <div class=" col-lg-3 col-6">
       <ul class="we">
        <h6>تواصل معنا</h6>
        <li><a href="#">
         <div class="pic1">
          <img src="../../assets/images/call_1062627.svg" alt="">
         </div>
          <span>+966 53 456 6644</span></a></li>
        <li><a href="#">
          <div class="pic1">
          <img src="../../assets/images/telephone_953780.svg" alt="">
        </div>
          <span>+966 53 456 6644</span></a>
        </li>

          <li><a href="#">
            <div class="pic1">
          <img src="../../assets/images/email_542689.svg" alt="">
        </div>
          <span>{{"info@edrak.com"}}</span></a></li>
        <li><a href="#">
          <div class="pic1">
          <img src="../../assets/images/location_535188.svg" alt="">
        </div>
          <span>منطقة مكة المكرمة</span></a></li>
       </ul>
      </div>
    </div>
    </div>

</footer>
