<section class="pt-5 pb-5 sec">
  <div class="container d-flex total flex-column">
  <div class="d-flex align-items-center collect justify-content-around w-100">
    <div class="d-flex align-items-center gap-4 justify-content-center">
    <div class="pic1">
      <img src="../../../assets/images/arrow1.svg" alt="">
    </div>
    <h1 class="text-center w-100">ألبوم الفيديو</h1>
    <div class="pic">
      <img src="../../../assets/images/arrow2.svg" alt="">
    </div>
  </div>
    <div class=" link pt-3">
      <a href="#" class="btn">
        <span>عرض المزيد</span>
        <i class="bi bi-arrow-left"></i>
      </a>
    </div>
  </div>

  <div id="carouselExampleIndicators" class="carousel slide pt-5">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
      </div>
      <div class="carousel-item">
        <iframe src="https://www.youtube.com/embed/qUTYO_IqPqM?&loop=1&playlist=qUTYO_IqPqM&autoplay=1" loading="lazy"></iframe>
    </div>
      <div class="carousel-item">
        <iframe src="https://www.youtube.com/embed/qUTYO_IqPqM?&loop=1&playlist=qUTYO_IqPqM&autoplay=1" loading="lazy"></iframe>
    </div>
    </div>
  </div>
</div>
</section>

<swiper-container
style="--swiper-theme-color:rgba(89, 67, 234, 1);
 --swiper-navigation-size: 50px ;
 --swiper-pagination-bullet-size:30px;
 --swiper-pagination-bullet-inactive-color:rgba(82, 82, 82, 1);
 --swiper-pagination-color:linear-gradient(to right,rgba(89, 67, 234, 1),rgba(5, 187, 248, 1));"
[pagination]="{clickable: true}"
grab-Cursor="true"
observer="true"
observeParents="true"
loop="true"
class="py-5"
>
<swiper-slide class="swiper-slider" >
  <iframe src="https://www.youtube.com/embed/qUTYO_IqPqM?&loop=1&playlist=qUTYO_IqPqM&autoplay=1" loading="lazy"></iframe>
</swiper-slide>
<swiper-slide class="swiper-slider">
  <iframe src="https://www.youtube.com/embed/qUTYO_IqPqM?&loop=1&playlist=qUTYO_IqPqM&autoplay=1" loading="lazy"></iframe>
</swiper-slide>
<swiper-slide class="swiper-slider">
  <iframe src="https://www.youtube.com/embed/qUTYO_IqPqM?&loop=1&playlist=qUTYO_IqPqM&autoplay=1" loading="lazy"></iframe>
</swiper-slide>
<swiper-slide class="swiper-slider">
  <iframe src="https://www.youtube.com/embed/qUTYO_IqPqM?&loop=1&playlist=qUTYO_IqPqM&autoplay=1" loading="lazy"></iframe>
</swiper-slide>
<swiper-slide class="swiper-slider">
  <iframe src="https://www.youtube.com/embed/qUTYO_IqPqM?&loop=1&playlist=qUTYO_IqPqM&autoplay=1" loading="lazy"></iframe>
</swiper-slide>
</swiper-container>

