<header>

  <div class="collect">
<nav class="navbar navbar-expand-lg " >
  <div class="container-fluid fluid">
    <div class="swap-nav">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="bi bi-text-right"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ">
        <li class="nav-item">
          <a class="nav-link" aria-current="page"
          [routerLink]='"Home"'
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"><img src="../../assets/images/Group.svg" alt=""><span>الرئيسيه</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link " aria-current="page"
          routerLink='About'
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          ><img src="../../assets/images/question_15220078.svg" alt=""><span>عن الجمعيه</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link " aria-current="page"
          routerLink='Government'
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          ><img src="../../assets/images/chip_16756178 1.svg" alt=""><span>الحوكمه</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link " aria-current="page"
          routerLink='Mange'
           routerLinkActive="active"
           [routerLinkActiveOptions]="{ exact: true }"><img src="../../assets/images/medical-kit_9644713.svg" alt=""><span>إدارة الرعاية و التأهيل</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link " aria-current="page"
          routerLink='Clinics'
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"><img src="../../assets/images/stethoscope_9644702.svg" alt=""><span>العيادات</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link " aria-current="page"
          routerLink='Store'
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"><img src="../../assets/images/shop_12574922.svg" alt=""><span>متجر التبرع الإلكترونى</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link " aria-current="page"
          routerLink='Services'
           routerLinkActive="active"
           [routerLinkActiveOptions]="{ exact: true }"><img src="../../assets/images/mouse_16945054 1.svg" alt=""><span>الخدمات الإكترونية</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link " aria-current="page"
          routerLink='Center'
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"><img src="../../assets/images/speaker_11735669 1.svg" alt=""><span>المركز الإعلامى</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link " aria-current="page"
          routerLink='Contact'
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"><img src="../../assets/images/send_11736097 1.svg" alt=""><span>تواصل معنا</span></a>
        </li>
      </ul>
    </div>
    </div>
  </div>
</nav>
</div>

</header>