<section class="pt-5 pb-5 sec">
  <div class="d-flex align-items-center justify-content-center gap-4">
    <div class="pic1">
      <img src="../../../assets/images/handright.svg" alt="">
    </div>
    <h1>متجر التبرعات</h1>
    <div class="pic">
      <img src="../../../assets/images/hand2.svg" alt="">
    </div>
  </div>
  <div class="container">
    <div class="row rows">
      <div class="col-12 col-sm-6 col-md-4 pt-3 all">
        <div class="cards">
          <div class="pt-2">
            <img class="img-fluid" src="../../../assets/images/Image (1).png" alt="">
          </div>
          <div class="med">
            <h3>التأهيل و العلاج</h3>
            <div class="target">
            <div class="RS">
              <p>ر.س <span class="text-success">2500</span></p>
              <p>ر.س <span class="text-danger">89,000</span></p>
            </div>
            <div class="progress">
              <div class="progress-bar"></div>
            </div>
            <div class="percent">
              <p>الهدف: 350,000 ر.س</p>
              <p>20%</p>
            </div>
          </div>
          </div>
          <div class="pt-3 resource">
            <!-- change that -->
          <select>
            <option value="" disabled selected>اختار المبلغ المراد التبرع به</option>
          </select>
          <div class="reward">
            <span>-</span>
            <h3>100 ر.س</h3>
            <span>+</span>
          </div>
        </div>
        <div class="donate pt-4">
          <button type="button">
            <div class="d-flex gap-2">
              <div class="position-relative">
              <img src="../../../assets/images/shop_12574922.svg" alt="">
              <span class="edit"><p>0</p></span>
            </div>
            <p>تبرع سريع (100 ر.س)</p>
          </div>
          </button>
          <a href="#">أعرض المزيد من التفاصيل</a>
        </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 pt-3 all">
        <div class="cards">
          <div class="pt-2">
            <img class="img-fluid" src="../../../assets/images/Image (1).png" alt="">
          </div>
          <div class="med">
            <h3>التأهيل و العلاج</h3>
            <div class="target">
            <div class="RS">
              <p>ر.س <span class="text-success">2500</span></p>
              <p>ر.س <span class="text-danger">89,000</span></p>
            </div>
            <div class="progress">
              <div class="progress-bar"></div>
            </div>
            <div class="percent">
              <p>الهدف: 350,000 ر.س</p>
              <p>20%</p>
            </div>
          </div>
          </div>
          <div class="pt-3 resource">
            <!-- change that -->
          <select>
            <option value="" disabled selected>اختار المبلغ المراد التبرع به</option>
          </select>
          <div class="reward">
            <span>-</span>
            <h3>100 ر.س</h3>
            <span>+</span>
          </div>
        </div>
        <div class="donate pt-4">
          <button type="button">
            <div class="d-flex gap-2">
              <div class="position-relative">
              <img src="../../../assets/images/shop_12574922.svg" alt="">
              <span class="edit"><p>0</p></span>
            </div>
            <p>تبرع سريع (100 ر.س)</p>
          </div>
          </button>
          <a href="#">أعرض المزيد من التفاصيل</a>
        </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 pt-3 all">
        <div class="cards">
          <div  class="pt-2">
            <img class="img-fluid" src="../../../assets/images/Image (1).png" alt="">
          </div>
          <div class="med">
            <h3>التأهيل و العلاج</h3>
            <div class="target">
            <div class="RS">
              <p>ر.س <span class="text-success">2500</span></p>
              <p>ر.س <span class="text-danger">89,000</span></p>
            </div>
            <div class="progress">
              <div class="progress-bar"></div>
            </div>
            <div class="percent">
              <p>الهدف: 350,000 ر.س</p>
              <p>20%</p>
            </div>
          </div>
          </div>
          <div class="pt-3 resource">
            <!-- change that -->
          <select>
            <option value="" disabled selected>اختار المبلغ المراد التبرع به</option>
          </select>
          <div class="reward">
            <span>-</span>
            <h3>100 ر.س</h3>
            <span>+</span>
          </div>
        </div>
        <div class="donate pt-4">
          <button type="button">
            <div class="d-flex gap-2">
              <div class="position-relative">
              <img src="../../../assets/images/shop_12574922.svg" alt="">
              <span class="edit"><p>0</p></span>
            </div>
            <p>تبرع سريع (100 ر.س)</p>
          </div>
          </button>
          <a href="#">أعرض المزيد من التفاصيل</a>
        </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="sec1 position-relative">
  <div class="gradient1 position-absolute">
    <img src="../../../assets/images/for3.png" alt="">
  </div>
  <div class="gradient2 position-absolute">
    <img src="../../../assets/images/for4.png" alt="">
  </div>
  <div class="service pt-3">
    <h3>خدماتنا</h3>
    <p>نقدم العديد من الخدمات المميزة التي تساهم في تنمية مجتمعنا</p>
  </div>
  <div class="container py-5">
    <div class="row align-items-center">
      <div class="col-12 col-sm-6 col-lg-3 pt-3">
        <div class="d-flex flex-column gap-3 message">
          <div>
            <img src="../../../assets/images/Group 1000002848 (1).svg" alt="">
          </div>
          <p>بنك الرسائل التوعوية</p>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-3 pt-3">
        <div class="d-flex flex-column gap-3 message">
          <div>
            <img src="../../../assets/images/Group 1000002849 (1).svg" alt="">
          </div>
          <p>البث المباشر</p>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-3 pt-3">
        <div class="d-flex flex-column gap-3 message">
          <div>
            <img src="../../../assets/images/Group (1).svg" alt="">
          </div>
          <p>بنك الرسائل التوعوية</p>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-3 pt-3">
        <div class="d-flex flex-column gap-3 message">
          <div>
            <img src="../../../assets/images/trophy_548443 (1).svg" alt="">
          </div>
          <p>بنك الرسائل التوعوية</p>
        </div>
      </div>
    </div>
  </div>
</section>