<section class="pt-5 pb-5 sec5">
  <div class="d-flex container total">
    <div class="d-flex align-items-center collect justify-content-center gap-4">
    <div class="pic">
      <img src="../../../assets/images/photo.svg" alt="">
    </div>
    <h1 class="text-center">ألبوم الصور</h1>
    <div class="pic">
      <img src="../../../assets/images/photo.svg" alt="">
    </div>
  </div>
  <div class=" link pt-3">
    <a href="#" class="btn">
      <span>عرض المزيد</span>
      <i class="bi bi-arrow-left"></i>
    </a>
  </div>
</div>
</section>
<section class="sec1">
  <div class="container total">
    <div class="position-relative">
      <div class="right-top pt-5">
        <div class="pic4">
          <img src="../../../assets/images/Subtract.png" alt="">
        </div>
        <div class="year2">
          <h3>حفل جمعية إدراك السنوي لخدمتها نصف مليون مستفيد في عام 2022م</h3>
          <div class="sun2">
            <p>الأحد, 01 يناير 2023</p>
            <div class="tenger2">
              <img src="../../../assets/images/image_1687755 1.svg" alt="">
              <span>10صورة</span>
            </div>
          </div>
        </div>
      </div>
      <div class="right-child">
        <div class="pic5">
          <img src="../../../assets/images/Pic 2.png" alt="">
          <div class="year3">
            <h3>حفل جمعية إدراك السنوي لخدمتها نصف مليون مستفيد في عام 2022م</h3>
            <div class="sun3">
              <p>الأحد, 01 يناير 2023</p>
              <div class="tenger3">
                <img src="../../../assets/images/image_1687755 1.svg" alt="">
                <span>10صورة</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="position-relative">
      <div class="left-top pt-5">
      <div class="pic2">
        <img src="../../../assets/images/Pic 5.png" alt="">
      </div>
      <div class="year">
        <h3>حفل جمعية إدراك السنوي لخدمتها نصف مليون مستفيد في عام 2022م</h3>
        <div class="sun">
          <p>الأحد, 01 يناير 2023</p>
          <div class="tenger">
            <img src="../../../assets/images/image_1687755 1.svg" alt="">
            <span>10صورة</span>
          </div>
        </div>
      </div>
    </div>
      <div class="bottom-left py-4">
        <div class="pic3">
          <img src="../../../assets/images/Pic 3 (1).png" alt="">
        </div>
        <div class="year1">
          <h3>حفل جمعية إدراك السنوي لخدمتها نصف مليون مستفيد في عام 2022م</h3>
          <div class="sun1">
            <p>الأحد, 01 يناير 2023</p>
            <div class="tenger1">
              <img src="../../../assets/images/image_1687755 1.svg" alt="">
              <span>10صورة</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="sec2 position-relative mt-5">
  <div class="gradient1 position-absolute">
    <img src="../../../assets/images/for3.png" alt="">
  </div>
  <h1 class="text-center text-white">جمعية خيرية التأهيلية</h1>
  <div class="gradient2 position-absolute">
    <img src="../../../assets/images/for4.png" alt="">
  </div>