<section class="pt-5 pb-5 sec">
<div class="d-flex align-items-center justify-content-center gap-4">
  <div class="pic1">
    <img src="../../../assets/images/star.svg" alt="">
  </div>
  <h1>أراء عملأنا</h1>
  <div class="pic">
    <img src="../../../assets/images/star.svg" alt="">
  </div>
</div>
<div class="container py-4 ">
  <swiper-container
  style="--swiper-theme-color:rgb(46, 20, 212);
   --swiper-navigation-size: 50px ;
   --swiper-pagination-bullet-size:30px;
    --swiper-navigation-top-offset: 50%;
   --swiper-pagination-bullet-inactive-color:rgba(82, 82, 82, 1);
   --swiper-pagination-color:linear-gradient(to right,rgba(89, 67, 234, 1),rgba(5, 187, 248, 1));"
navigation="true"
[slidesPerView]="slidesPerView"
space-between="10px"
[pagination]="{clickable: true}"
grab-Cursor="true"
observer="true"
observeParents="true"
loop="true"
>

  <swiper-slide class="swiper-slide" ><div class="bark">
    <div class="rafek">
      <div class="day">
        <div>
          <img src="../../../assets/images/mohamed.svg" alt="">
        </div>
        <div class="ago">
          <h4>محمد رفيق</h4>
          <p>3 day ago</p>
        </div>
      </div>
      <div class="starss">
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star"></i>
      </div>
    </div>
    <p class="text">بارك الله فى جهود إخوانى فى جمعية إدراك فقد أبهرنى ما رأيت من معروضات و وسائل , و أسال الله عز و جل ان ينفعهم و ينفع بهم شباب هذه الأمة</p>
  </div>
</swiper-slide>
  <swiper-slide class="swiper-slide">
    <div class="bark">
    <div class="rafek">
      <div class="day">
        <div>
          <img src="../../../assets/images/mohamed.svg" alt="">
        </div>
        <div class="ago">
          <h4>محمد رفيق</h4>
          <p>3 day ago</p>
        </div>
      </div>
      <div class="starss">
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star"></i>
      </div>
    </div>
    <p class="text">بارك الله فى جهود إخوانى فى جمعية إدراك فقد أبهرنى ما رأيت من معروضات و وسائل , و أسال الله عز و جل ان ينفعهم و ينفع بهم شباب هذه الأمة</p>
  </div>
</swiper-slide>
  <swiper-slide class="swiper-slide"><div class="bark">
    <div class="rafek">
      <div class="day">
        <div>
          <img src="../../../assets/images/mohamed.svg" alt="">
        </div>
        <div class="ago">
          <h4>محمد رفيق</h4>
          <p>3 day ago</p>
        </div>
      </div>
      <div class="starss">
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star"></i>
      </div>
    </div>
    <p class="text">بارك الله فى جهود إخوانى فى جمعية إدراك فقد أبهرنى ما رأيت من معروضات و وسائل , و أسال الله عز و جل ان ينفعهم و ينفع بهم شباب هذه الأمة</p>
  </div>
</swiper-slide>
  <swiper-slide class="swiper-slide"><div class="bark">
    <div class="rafek">
      <div class="day">
        <div>
          <img src="../../../assets/images/mohamed.svg" alt="">
        </div>
        <div class="ago">
          <h4>محمد رفيق</h4>
          <p>3 day ago</p>
        </div>
      </div>
      <div class="starss">
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star"></i>
      </div>
    </div>
    <p class="text">بارك الله فى جهود إخوانى فى جمعية إدراك فقد أبهرنى ما رأيت من معروضات و وسائل , و أسال الله عز و جل ان ينفعهم و ينفع بهم شباب هذه الأمة</p>
  </div>
</swiper-slide>
  <swiper-slide class="swiper-slide">
    <div class="bark">
    <div class="rafek">
      <div class="day">
        <div>
          <img src="../../../assets/images/mohamed.svg" alt="">
        </div>
        <div class="ago">
          <h4>محمد رفيق</h4>
          <p>3 day ago</p>
        </div>
      </div>
      <div class="starss">
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star"></i>
      </div>
    </div>
    <p class="text">بارك الله فى جهود إخوانى فى جمعية إدراك فقد أبهرنى ما رأيت من معروضات و وسائل , و أسال الله عز و جل ان ينفعهم و ينفع بهم شباب هذه الأمة</p>
  </div>
</swiper-slide>
</swiper-container>
</div>
</section>


<section class="sec1">
  <div class="d-flex position-relative  align-items-center  justify-content-center gap-4 py-5">
    <div class="gradient1 position-absolute">
      <img src="../../../assets/images/for3.png" alt="">
    </div>
    <div class="pic1">
    <img src="../../../assets/images/hand5.svg" alt="">
  </div>
  <h1 class="text-center text-white">شركائنا</h1>
  <div class="pic">
    <img src="../../../assets/images/hand5.svg" alt="">
  </div>
  <div class="gradient2 position-absolute">
    <img src="../../../assets/images/for4.png" alt="">
  </div>
</div>
  <div class="row align-items-center w-100">
    <div class="col-12 col-sm-6 col-lg-2 all pt-4">
      <div class="pic5">
        <img src="../../../assets/images/1.png" alt="">
      </div>
    </div>
    <div class="col-12 col-sm-6 col-lg-2 all pt-4">
      <div class="pic5">
        <img  src="../../../assets/images/2.png" alt="">
      </div>
    </div>
    <div class="col-12 col-sm-6 col-lg-3 all pt-4">
      <div class="pic3">
        <img src="../../../assets/images/3.png" alt="">
      </div>
    </div>
    <div class="col-12 col-sm-6 col-lg-3 all pt-4">
      <div class="pic4">
        <img src="../../../assets/images/5.png" alt="">
      </div>
    </div>
    <div class="col-12 col-sm-6 col-lg-2 all pt-4">
      <div class="pic5">
        <img src="../../../assets/images/4.png" alt="">
      </div>
    </div>
  </div>
</section>
  <!-- مقالات -->

  <section class="sec2 pt-4">
    <div class="d-flex align-items-center justify-content-center gap-4">
      <div class="pic1">
        <img src="../../../assets/images/star.svg" alt="">
      </div>
      <h1>المقالات</h1>
      <div class="pic">
        <img src="../../../assets/images/star.svg" alt="">
      </div>
    </div>
    <div class="container pt-3 ">
      <div class="row rows1">
        <div class="col-12 col-sm-6 col-lg-4 pt-3 this-media">
          <div class="thing">
          <div class="">
            <img class="img-fluid" src="../../../assets/images/Notifications_Outline 1.png" alt="">
          </div>
          <div class="article py-4">
            <div class="read">
              <h4>المقال 1</h4>
              <p>April 24, 2022 - 5 min read</p>
            </div>
            <p class="text1">هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها.</p>
            <button type="button" class="btn btn1">
              <span>اطلع علي المزيد</span>
              <i class="bi bi-arrow-left"></i>
            </button>
          </div>
        </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-4 pt-3 this-media">
          <div class="thing">
          <div class="">
            <img class="img-fluid" src="../../../assets/images/Notifications_Outline 1.png" alt="">
          </div>
          <div class="article py-4">
            <div class="read">
              <h4>المقال 1</h4>
              <p>April 24, 2022 - 5 min read</p>
            </div>
            <p class="text1">هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها.</p>
            <button type="button" class="btn btn1">
              <span>اطلع علي المزيد</span>
              <i class="bi bi-arrow-left"></i>
            </button>
          </div>
        </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-4 pt-3 this-media">
          <div class="thing">
          <div class="">
            <img class="img-fluid" src="../../../assets/images/Notifications_Outline 1.png" alt="">
          </div>
          <div class="article py-4">
            <div class="read">
              <h4>المقال 1</h4>
              <p>April 24, 2022 - 5 min read</p>
            </div>
            <p class="text1">هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها.</p>
            <button type="button" class="btn btn1">
              <span>اطلع علي المزيد</span>
              <i class="bi bi-arrow-left"></i>
            </button>
          </div>
        </div>
      </div>
      </div>
    </div>
  </section>

