
<section>
<nav class="navbar  navbar-expand-lg">
  <div class="container distance">

    <a class="navbar-brand" [routerLink]="'Home'"><img src="../../assets/images/logo1.svg" alt=""></a>

  <div class="btns">
    <button type="button" class="default">
      <p><i class="bi bi-cart"></i></p>
        <p class="edit">0</p>
    </button>
    <button type="button">
      <div class="pic">
      <img src="../../assets/images/Call.svg" alt="">
      </div>
      <p>Call us: (629) 555-0129</p>
    </button>
  </div>
</div>
</nav>
</section>