<section class="sec">
  <div class="container">
    <div class="d-flex align-items-center flex-column flex-lg-row">
    <div class="sociaty position-relative">
      <div class="">
        <div class="pic1 position-absolute">
        <img src="../../../assets/images/Group 36.png" alt="">
      </div>
        <div class="pic2 position-absolute">
        <img src="../../../assets/images/Group 36.png" alt="">
      </div>
        <div class="pic3 position-absolute">
        <img src="../../../assets/images/Group 36.png" alt="">
      </div>
      </div>
        <div class="ability">
          <h3>جمعية  خيرية التأهيلية</h3>
          <p>KHAIRYA REHABILITATION Society</p>
        </div>
        <div class="needed">
          <p>منصة متكاملة لإنشاء مواقع الجمعيات الخيرية جمعية خيرية متخصصة  تُسهم في حماية المجتمع، وتوعيته بأضرار التدخين والمخدرات، ومساعدة  الراغبين في العلاج، عبر خدمات وبرامج نوعية تلامس احتياجاته وتطلعاته.</p>
          <div class="btns">
            <button type="button">
              <div>
                <img src="../../../assets/images/Group (8).svg" alt="">
              </div>
              <p>تواصل معنا</p>
            </button>
            <button type="button">
              <div>
                <img src="../../../assets/images/mou.svg" alt="">
              </div>
              <p>الخدمات الالكترونية</p>
            </button>
          </div>
        </div>
    </div>
    <div class="d-flex images flex-column flex-sm-row position-relative">
      <div class="pt-3">
        <img src="../../../assets/images/shape (2).png" alt="">
      </div>
      <div class="pt-3">
        <img src="../../../assets/images/shape (3).png" alt="">
      </div>
      <div class="gradient position-absolute w-75">
        <img class="img-fluid" src="../../../assets/images/Group 1000002840.png" alt="">
      </div>
    </div>
  </div>
  </div>
</section>
<section class="sec1 mt-5 py-5  position-relative">
  <div class="gradient1 position-absolute">
    <img src="../../../assets/images/for1.png" alt="">
  </div>
  <div class="gradient2 position-absolute">
    <img src="../../../assets/images/for2.png" alt="">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 col-lg-3 pt-3">
        <div class="content">
            <div>
              <img src="../../../assets/images/google-calendar_2991218 1.svg" alt="">
            </div>
            <div class="d-flex flex-column gap-3">
              <h2>17 +</h2>
              <p>سنوات العطاء</p>
            </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3 pt-3">
        <div class="content">
            <div>
              <img src="../../../assets/images/development_4578616 1.svg" alt="">
            </div>
            <div class="d-flex flex-column gap-3">
              <h2>48+</h2>
              <p>مبادرات</p>
            </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3 pt-3">
        <div class="content">
            <div>
              <img src="../../../assets/images/group_681494 1.svg" alt="">
            </div>
            <div class="d-flex flex-column gap-3">
              <h2>+ 9 ملايين</h2>
              <p>مستفيدون</p>
            </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3 pt-3">
        <div class="content">
            <div>
              <img src="../../../assets/images/television_1017114 1.svg" alt="">
            </div>
            <div class="d-flex flex-column gap-3">
              <h2>+ 62 ألف</h2>
              <p>لقاءات</p>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>